h1{
  color:#274c77;
  height: 30%;
  width: 100%;
  padding: 10px;
  /*background-image: url('CRUNCH.png');*/
  font-weight: bolder;
}



.right{
  background-color: #274c77;
  width: 50%;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
}

.left{
  background-color: #6096ba;
  width: 50%;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
}

.back{
  color: #e7ecef;
}

.ingredient {
    width:100%;
    height: fit-content;
    display: block;
}
